genmejaxb/src/main/java/xyz/un4ckn0wl3z/genmejaxb/schema1.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema xmlns:tns="http://tempuri.org/" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="CardStatusBankResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="CardStatusBankResult">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Code" type="xs:int" />
              <xs:element name="Desc" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>